.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
:root {
  --first-color: #ffffff;
  --second-color: #434455;
}
/* =========HEADER========== */
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
.top-nav {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.menu-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding: 24px 0 24px;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.menu-link.current {
  color: #404bbf;
}
.menu-link.current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  width: 48px;
  height: 4px;
  left: 0px;
  background: #404bbf;
  border-radius: 2px;
}
.menu-link.active {
  color: #404bbf;
}
.menu-link.active::after {
  content: '';
  position: absolute;
  width: 66px;
  height: 4px;
  left: 0px;
  bottom: -1px;
  background: #404bbf;
  border-radius: 2px;
}
.inf-list {
  display: flex;
  gap: 40px;
}
.body-style {
  font-family: 'Roboto', sans-serif;
  color: var(--second-color);
  background-color: var(--first-color);
}
.logo {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo-one {
  color: #2e2f42;
}

.cnt-inf {
  font-style: normal;
  display: flex;
}
.inf-list {
  column-gap: 40px;
}
.header-contact {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact:hover,
.header-contact:focus {
  color: #404bbf;
}
/* =========HEADER========== */
/* =========SECTION 1======= */
.main-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: auto;
  margin-bottom: 48px;
}
.main-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background: #4d5ae5;
  letter-spacing: 0.04em;
  margin: auto;
  box-shadow: rgba(46, 47, 66, 0.7);
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover,
.main-btn:focus {
  background-color: #404bbf;
}

.section-one {
  max-width: 1440px;
  background: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 188px 0 188px;
  margin: 0 auto;
}

/* =========SECTION 1======= */
/* =========SECTION 2======= */

.section-two {
  padding: 120px 0 120px;
}
.section-two-title {
  margin-bottom: 8px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-two-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.section-two-title-list {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.section-two-item {
  width: calc((100% - 72px) / 4);
}
.sections-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  line-height: 1.11;
}
.section-two-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.our-advantage-list {
  display: flex;
  width: 264px;
  height: 112px;
  justify-content: center;
  align-items: center;
  background: #f4f4fd;
  margin-bottom: 8px;
  border-radius: 4px;
}
/* =========SECTION 2======= */
/* ========SECTION3======= */
.section-three {
  padding-bottom: 120px;
}
.section-three-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.section-three-item {
  width: calc((100% - 48px) / 3);
}
.section-three-title {
  margin-bottom: 72px;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}
.social-list-icon {
  fill: #f4f4fd;
}
/* ========SECTION3======= */
/* ========SECTION4======= */
.section-four {
  background: #f4f4fd;
  padding: 120px 0 120px;
}
.section-four-title {
  margin-bottom: 72px;
}
.section-four-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.team-list {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-position {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}
.team-name-position {
  padding: 32px 0;
}
/* .section-four-social-list {
  padding: 32px 0;
} */
/* ========SECTION4======= */
/* ========SECTION5======= */
.section-five {
  max-width: 1440px;
  padding: 120px 0 120px;
  margin: 0 auto;
}
.custom-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
}
.customer-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.customer-list-link {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 88px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-list-link:hover,
.customer-list-link:focus {
  color: #404bbf;
  border: 1px solid #404bbf;
  border-radius: 4px;
}
.customer-list-icon {
  fill: currentColor;
}
.customer-list-item {
  width: calc((100% - 120px) / 6);
}
/* ========SECTION5======= */
/* ==========FOOTER========= */
.main-footer {
  background: #2e2f42;
  height: 312px;
  padding: 100px 0 100px;
}
.general-main-footer {
  display: flex;
  align-items: baseline;
}
.footer-list {
  display: block;
  margin-right: 120px;
}
.footer-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
  height: 72px;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-logo-two {
  color: #f4f4fd;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-social-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-social-media {
  display: block;
}
.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: #31d0aa;
}
.subscribe-main {
  margin-left: 80px;
}
.footer-subscribe-list {
  display: flex;
  gap: 24px;
}
.footer-subscribe-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-subscribe-mail {
  width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer-subscribe-mail::placeholder {
  color: #ffffff;
}
.footer-subscribe-btn {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background: #4d5ae5;
  letter-spacing: 0.04em;
  min-width: 165px;
  height: 40px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
  background-color: #404bbf;
}
.footer-subscribe-send {
  margin-left: 16px;
}
.footer-subscribe-icon {
  fill: #ffffff;
}
/* ==========FOOTER========= */
/* =========PORTFOLIO======== */
.portfolio-first-sectio {
  padding: 156 0 156 0px;
}
.portfolio-img-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-img-type {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-nav-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-nav-btn:hover,
.portfolio-nav-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
}
.portfolio-navigation {
  padding: 96px 0 120px;
}
.portfolio-nav {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.portfolio-img-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.container-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-nav-btn:hover,
.portfolio-nav-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-link:hover,
.portfolio-list-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  color: #f4f4fd;
  background: #4d5ae5;
  padding: 40px 32px;
  height: 100%;
  overflow: auto;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translate(0px, 100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}
.portfolio-list-link:hover .overlay,
.portfolio-list-link:focus .overlay {
  transform: translateY(0%);
}
/* =========PORTFOLIO======== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-cls-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  width: 24px;
  height: 24px;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-cls-btn:hover,
.modal-cls-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-cls-btn:hover .modal-close-icon,
.modal-cls-btn:focus .modal-close-icon {
  fill: #ffffff;
}
.form-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.contact-form-wrapper {
  margin-bottom: 8px;
}
.contact-form-wrapper-comment {
  margin-bottom: 16px;
}
.contact-form-wrapper-checkbox {
  margin-bottom: 24px;
}
.contact-form-content {
  position: relative;
}
.contact-form-field-wrapper,
.contact-form-checkbox-wrapper {
  display: block;
}
.contact-form-field-wrapper {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.contact-form-checkbox-wrapper {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.form-contact-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-contact-input:focus {
  outline: none;
  border-color: #4d5ae5;
}
.form-contact-input:focus + .contact-form-input-icon {
  fill: #4d5ae5;
}
.contact-form-field-descr {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #8e8f99;
  margin-bottom: 4px;
  display: block;
}
.contact-form-input-icon {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  left: 16px;
  display: block;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-massege {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  outline: transparent;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-massege:focus {
  outline: none;
  border-color: #4d5ae5;
}
.contact-form-massege::placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.contact-form-wrapper-checkbox {
  display: block;
}
.contact-form-checkbox-wrapper {
  font-size: 12px;
}
.contact-form-checkbox {
  appearance: none;
  position: absolute;
}
.checkbox-wrapper {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-own-checkbox {
  cursor: pointer;
}

.contact-form-checkbox:checked + .contact-form-checkbox-wrapper .checkbox-wrapper {
  background-color: #404bbf;
  fill: #ffffff;
  border: none;
  border-color: #404bbf;
}

.contact-form-submit {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background: #4d5ae5;
  letter-spacing: 0.04em;
  margin: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-submit:hover,
.contact-form-submit:focus {
  background-color: #404bbf;
}
.form-pivacy {
  color: #4d5ae5;
  margin-left: 3px;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.visually-hidden {
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}
pattern {
  display: none;
}
